:root {
  --color-accent: #14120b;
  --color-accent-light: #1b1913;

  --primary-text-color: #edecec;
  --bg-button-white: #d7d6d5;
  --color-gray: #b6b5b3;
  /*  #EDECEC */
  --font-size-small: 1.4rem;
  --font-size-base: 1.6rem;

  --fw-regular: 400;
  --fw-md: 600;
  --fw-bold: 700;

  --spacing-sm: 0.8rem;
  --spacing-md: 2rem;
}
@font-face {
  font-family: 'cursorRegular';
  src:
    url(../fonts/f30fd2e485acf1bc-s.p.3d1b066d.woff2) format('woff2'),
    url(../fonts/f30fd2e485acf1bc-s.p.3d1b066d.woff) format('woff');
}
@font-face {
  font-family: 'cursorBold';
  src:
    url(../fonts/CursorGothic_Bold-s.p.95169710.woff2) format('woff2'),
    url(../fonts/CursorGothic_Bold-s.p.95169710.woff) format('woff');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%; /* 1rem = 10px */
}

body {
  font-family: 'cursorRegular', Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-size: var(--font-size-base); /* 16px */
  color: var(--primary-text-color);
  background-color: var(--color-accent);
}
.container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 var(--spacing-md);
}
ul {
  list-style: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover,
a:active {
  text-decoration: none;
  color: var(--color-gray);
}
.icon-size {
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
}
a.text-secondary:hover {
  color: #e07b3f !important;
}

.heading-secondary {
  font-size: 1.8rem;
  font-weight: var(--fw-md);
  margin-bottom: var(--spacing-md);
  letter-spacing: 1.2px;
}
.text-center {
  text-align: center;
}
.lh-18 {
  line-height: 1.8;
}
/* grid */
.grid {
  display: grid;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}
.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}
.mt-auto {
  margin-top: auto;
}
.mb-20 {
  margin-bottom: 2rem;
}

.trunc {
  display: inline-block;
  max-width: 10rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* FLEX */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.gap-sm {
  gap: 0.01rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-12 {
  gap: 1.2rem;
}
.green-num {
  color: #27ae60;
}
.red-num {
  color: #eb5757;
}
.time {
  align-self: flex-start;
  font-size: 1.2rem;
}
.bg-light {
  background-color: var(--color-accent-light);
}
.bg-dark {
  background-color: #26241e !important;
}
.text-gray-light {
  color: #807f7b;
}
.text-gray-dark {
  color: #61605c !important;
}

.text-primary {
  color: var(--primary-text-color);
}
.text-secondary {
  color: #bf4105 !important;
}
.font-bold {
  font-weight: 700;
}
.text-20 {
  font-size: 2rem;
}
.text-sm {
  font-size: 1.8rem;
}
.mb-sm {
  margin-bottom: 0.4rem;
}
.text-lg {
  font-size: 4.4rem;
}
.lh-sm {
  line-height: 1.1;
}
.w-70 {
  width: 70% !important;
}
.p-md {
  padding: 6rem !important;
}
.text-2xl {
  font-size: 8rem;
}
/* rounded border */
.rounded-sm {
  border-radius: 0.4rem;
}
.rounded-md {
  border-radius: 0.8rem;
}

.box {
  background-color: var(--color-accent-light);
  padding: 0.8rem;
  color: var(--primary-text-color);
}
.code-box {
  background-color: var(--color-accent-light);
  padding: 0.8rem;
}
.w-full {
  width: 100%;
}
.bg-gray {
  background-color: var(--color-accent-light);
}
.mb-12 {
  margin-bottom: 1.2rem;
}
.mb-md {
  margin-bottom: 6.2rem;
}
.letter-spacing-sm {
  letter-spacing: 1.2px;
}
.textarea {
  outline: none;
  border: none;
  resize: none;
}
.list-disc {
  list-style: disc;
}
.list-inside {
  list-style-position: inside;
}

.code-snippet-box {
  background-color: var(--color-accent-light);
  font-size: 1.2rem;
  width: 100%;
  height: 100vh;
  padding-left: 1.2rem;
  overflow: hidden;
  position: relative;
}
.code-snippet-box code {
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  left: 10%;
}
.tab {
  background-color: var(--color-accent);
  border: none;
  color: var(--primary-text-color);
  padding: 0.6rem 1.2rem;
}
.tab.tab--active {
  background-color: #1b1913;
  font-weight: var(--fw-md);
}

.code-box {
  z-index: 10;
  background-color: var(--color-accent-light);
  height: 47vh;
  background-color: var(--color-accent-light);
  position: absolute;
  top: 50%;
  right: 2.4rem;
  bottom: 10%;
  border-radius: 8px;
  font-size: 0.8rem;
  transform: translate(-18px, 0);
  overflow: hidden;
}




.logo-svg {
  width: 95.37px;
}
.main-nav {
  /* position: relative; */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  background-color: var(--color-accent);
  font-weight: var(--fw-md);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3rem 1.8rem;
  z-index: 999;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
}
.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--primary-text-color);
  font-size: var(--font-size-small);
  transition: color 0.3s ease;
}
.nav-link:hover,
.nav-link:active {
  color: var(--color-gray);
}

.btn {
  border: none;
  padding: 0.8rem 2rem;
  font-size: var(--font-size-small);
  cursor: pointer;
  border-radius: 100px;
  transition: background-color 0.3s ease;
  font-weight: var(--fw-md);
  margin: 0.4rem;
  line-height: 1.5;
}

.download-btn {
  padding: 1rem 2.4rem;
}

.download-btn:hover,
.btn:hover {
  background-color: var(--color-gray);
}

.signin-btn,
.btn-outline {
  background-color: transparent;
  color: var(--primary-text-color);
  box-shadow: inset 0 0 0 1.5px var(--primary-text-color);
  font-weight: var(--fw-md);
  padding: 0.7rem 1.8rem;
}

.signin-btn:hover,
.btn-outline:hover {
  box-shadow: inset 0 0 0 1.5px var(--color-gray);
}

/* Resources */
.nav-resources {
  position: relative;
  transition: all 0.3s ease;
}

.resource-box {
  position: absolute;
  background-color: #1b1913;
  padding: 1.4rem;
  width: 30rem;
  display: none;
  border-radius: 0.6rem;
}
.resources-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.2rem;
  font-size: 1.4rem;
}
.nav-resources:hover .resource-box {
  display: block;
}

/* ICON */
.icon {
  width: 1.2rem;
  height: 1.2rem;
  display: none;
}
.resources-list li:hover .icon {
  display: inline-block;
  margin-left: 0.6rem;
  vertical-align: middle;
}

/* SECTION HERO */
.section-hero {
  margin: 12.8rem 0;
}
.hero {
  margin: 12.8rem 0;
}
.hero-text {
  font-family: 'cursorBold', Arial, sans-serif;
  font-size: 2.4rem;
  line-height: 1.4;
  font-weight: 700;
  margin-bottom: 2.4rem;
}
.download {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  gap: 0.4rem;
}

.hero-bg-img {
  margin-top: 4.8rem;
}
.hero-bg-img img {
  width: 100%;
}
.image-box {
  position: relative;
  height: 100vh;
}
.show {
  opacity: 0;
}
.code-container:hover .code-top .show {
  opacity: 1;
}
.image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.code-container {
  display: grid;
  grid-template-columns: 1.5fr 3fr auto;
  grid-template-rows: 2.4rem 1fr;
  position: absolute;
  bottom: -20%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90vh;
  background-color: var(--color-accent);
  border-radius: 0.8rem;
  padding-inline: 1.2rem;
  overflow: hidden;
}
.code-top {
  grid-column: 1/-1;
  grid-row: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 0.5px solid #333;
}
.code-left,
.code-middle,
.code-right {
  padding: 1.2rem 1.2rem;
  color: var(--color-gray);
  border-right: 0.5px solid #333;
}
/* circles */
.circles {
  display: flex;
  gap: 0.5rem;
}
.circle {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #292821;
  border-radius: 50%;
}

.progress-text {
  font-family: cursorBold;
  text-transform: uppercase;
  font-weight: var(--fw-bold);
  font-size: 1.2rem;
  margin-bottom: 1.8rem;
}

.in-progress-box {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
  gap: 1rem;
}
.trunc-text {
  font-size: 1.2rem;
  max-width: 16rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: -6px;
}
.generating-text {
  color: var(--color-gray);
  font-size: 1.4rem;
  font-weight: var(--fw-md);
}
/* CODE MIDDLE PART */
.code-title {
  font-family: 'cursorBold', Arial, sans-serif;
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
  margin-bottom: 0.8rem;
}
.code-middle {
  overflow-y: auto;
}

/* SECTION TRUSTED BY */
.section-trustedBy {
  margin: 12.8rem 0;
}

.logo-list {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.logo-item {
  height: 3vh;
  padding: 3.8rem;
  background-color: #1b1913;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo-company {
  width: 100%;
}

/*  SECTION FEATURE */
.section-features {
  margin: 12.8rem 0;
}
.feature-container {
  display: grid;
  grid-template-columns: 3fr auto;
  gap: 1.2rem;
  background-color: #1b1913;
  padding: 2.4rem;
  border-radius: 0.8rem;
  align-items: center;
}

.feature-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

/*  SECTION  TESTIMONIALS*/
.section-testimonials {
  margin: 12.8rem 0;
}
.card {
  background-color: #1b1913;
  padding: 2.4rem;
  border-radius: 0.8rem;
}
.card p {
  font-family: cursorBold, sans-serif;
  font-weight: 400;
  color: var(--color-gray);
}
.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 4px;
}
.author-name {
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
}
.author-job {
  font-size: 1.2rem;
  color: var(--color-gray);
}

/* SECTION USE */
.section-use {
  margin: 12.8rem 0;
}

/* SECTION CHANGELOG */
.section-changelog {
  margin: 12.8rem 0;
}

/* SECTION TEAM */
.section-team {
  margin: 12.8rem 0;
}

/* SECTION HIGHLIGHTS */
.section-highlights {
  margin: 12.8rem 0;
}
.highlights-box {
  display: grid;
  grid-template-columns: 2fr 4fr;
}
.highlights-box h2 {
  justify-self: start;
}

/* SECTION CTA */
.section-cta {
  margin: 12.8rem 0;
}

/* SECTION FOOTER */
.buttons {
  background-color: #292821;
  padding: 0.2rem 0.8rem;
  width: 12rem;
  border-radius: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.4rem;
}
.buttons button {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: #fff;
}

.buttons button:hover {
  color: var(--color-gray);
}
